<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="product_tags" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Product Tags</label>
            <tab>catalog</tab>
            <resource>SemExpert_ProductTags::config</resource>
            <group id="free_shipping" translate="label" type="text" sortOrder="10" showInStore="1" showInWebsite="1" showInDefault="1">
                <label>Free Shipping</label>
                <field id="threshold" translate="label" type="text" sortOrder="10" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Minimum product price to display</label>
                </field>
                <field id="tag_content" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tag content</label>
                </field>
            </group>
            <group id="new_product" translate="label" type="text" sortOrder="20" showInStore="1" showInWebsite="1" showInDefault="1">
                <label>New Product</label>
                <field id="tag_content" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tag content</label>
                </field>
            </group>
            <group id="sale" translate="label" type="text" sortOrder="30" showInStore="1" showInWebsite="1" showInDefault="1">
                <label>Sale</label>
                <field id="tag_content" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tag content</label>
                </field>
            </group>
        </section>
    </system>
</config>
